<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM SeFuerte</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <script src="https://kit.fontawesome.com/c941ad4913.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">GYM Y BOX</a>
            <input type="checkbox" id="checkbox">
            <label for="menu"><img src="/images/menu.png" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#servi">SERVICIOS</a></li>
                    <li><a href="#nosotros">NOSOTROS</a></li>
                    <li><a href="#HS">HORARIOS</a></li>
                    <li><a href="#contacto">CONTACTOS</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-info">
                <h1>Gym & Box</h1>
                <p>Cada Entrenamiento te hace mas fuerte</p>
                <a href="#contacto" class="btn-1">Empieza</a>

            </div>
        </div>
    </header>
    {{{body}}}

    <footer class="footer container">
        <h3>GYM Y BOX</h3>

        <div class="links">
            <ul>
                <li><a href="#" class="fa fa-facebook"></a> 
                <li><a href="#" class="fa-brands fa-whatsapp"></a></li>
                <li><a href="#" class="fa-brands fa-instagram"></a></li>
            </a></li>

            </ul>
        </div>
    </footer>
  </body>
</html>
